[submodule "resource-types-contrib"]
	path = resource-types-contrib
	url = https://github.com/radius-project/resource-types-contrib.git
	branch = dynamic-rp-docker
[submodule "radius"]
	path = radius
	url = https://github.com/radius-project/radius.git
	branch = dynamic-rp-docker
